body{
    display: grid;
    background-image: url(images/background.png);
    background-size: cover;

    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    flex-direction: column;
}
header{
    display: grid;
    grid-template-columns: 300px 50px;
    width: auto;
    padding: 0px 325px;
    margin: auto;
    align-items: center;
    background-color:coral;
  }

/*Removes the default margin on images*/
  figure{
      margin: 0;
  }
  
    /*Header Styles*/

    /*Ichiban Sushi header*/
h1{
    padding: 0 0 0 100px;
}
    /*Open Hours and Location*/
h3{
    font-size: 24px;
}
  
    /*Navigation*/
nav{
    width: 1000px;
    margin: auto;
    background-color: rgb(235, 85, 26);
    margin-bottom: 25px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    flex: 2 1 0;
    text-align: center;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
  }

nav li:hover{
    background-color: lightsalmon;
}

nav li:hover a{
    color: white;
}
    /*End Navigation*/

    /*Buttons CSS*/
button{
    border: none;
    background-color: rgb(255, 71, 71);
    border-radius: 10px;
    font-size: 30px;
    /*This box shadow is number 87 from getcssscan.com shadow examples*/
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-decoration: none;
    color: white;
    height: 0px;
    padding: 50px;
    margin: 0px;
    text-shadow: 2px 2px 2px #000000;
}
    /*Properties for the place an order button*/
.place{
    display: flex;
    align-items: center;
    font-size: 28px;
}

    /*Image background for the menu button*/
.menubutton{
    background-image: url("images/nigiri.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 275px;
    width: 500px;
    
}
/*End button CSS*/
/*Beginning of main section and grid CSS*/
.landing{
    display:grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 1fr;
    }

/*Try to get this work in "landing box" section*/
.box{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #e2dcc8;
    /*This box shadow is number 23 from the getcssscan.com website shadow box*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
/*The header grid item
.item1{
}
*/

/*The nav grid item*/
.item2{
    grid-column-start: 1/2;
}

/*The menu picture button*/
.item3{
    grid-column-start: 2;
    grid-row-start: 1;
}
/*The place an order button*/
.item4{
    grid-column-start: 3;
    grid-row-start: 1;
}
/*Menu Preview Header*/
.item5{
    grid-column: 2/4;
    grid-row-start: 2;
}

/*About Us*/
.item6{
    grid-column: 2/4;
}

/*Google Map Grid Item*/
.item7{
    grid-column: 2/4;
    grid-row-start: 3;
}

.headerbreak{
    text-align: center;
    background-color: rgb(235, 85, 26);
    padding:25px;
    margin: 0;
}
    /*Google Map Properties*/
.gmap_canvas{
    text-align: center;
}

/*Beginnning of subsection menu preivew css*/
.menugrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/*Appetizer Picture subitem*/
.subitem1{
    grid-column: 1;
    grid-row: 1;
}

/*Appetizer Table Subitem*/
.subitem2{
    grid-column: 2;
    grid-row: 1;
}

/*Sushi Picture Subitem*/
.subitem3{
    grid-column: 1;
    grid-row: 2;
}